# Logische Strukturen (if-else, for, while), Lambda-Ausdrücke, Funktionen (in Jupyter Notebook)

Übersicht Python zur Veranschaulichung der Syntax

## Datentypen

### Zahlen

In [7]:
1 + 1

2

In [8]:
1 * 3

3

In [9]:
1 / 2

0.5

In [10]:
2 ** 4

16

In [11]:
4 % 2

0

In [12]:
5 % 2

1

In [13]:
(2 + 3) * (5 + 5)

50

### Variablenzuordnung

In [14]:
# Kann nicht mit Zahl oder Sonderzeichen beginnen
# Konvention: verständliche Variablennamen in Kleinbuchstaben mit _ separiert
name_der_var = 2

In [15]:
x = 2
y = 3

In [16]:
z = x + y

In [17]:
z

5

### Strings

In [18]:
'single quotes'

'single quotes'

In [19]:
"double quotes"

'double quotes'

In [20]:
# wenn ' in String vorkommt, dann double quotes verwenden
"I don't know"

"I don't know"

### Printing

In [21]:
x = 'moin'

In [22]:
x

'moin'

In [23]:
print(x)

moin

In [24]:
num = 12
name = 'Sam'

In [25]:
# sehr nützlich und wird sehr oft verwendet
print('Meine Zahl ist: {one}, und mein Name ist: {two}'.format(one=num,two=name))

Meine Zahl ist: 12, und mein Name ist: Sam

In [26]:
print('Meine Zahl ist: {}, und mein Name ist: {}'.format(num,name))

Meine Zahl ist: 12, und mein Name ist: Sam

### Listen

In [27]:
[1,2,3]

[1, 2, 3]

In [28]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [29]:
meine_liste = ['a','b','c']

In [30]:
meine_liste.append('d')

In [31]:
meine_liste

['a', 'b', 'c', 'd']

In [32]:
meine_liste[0]

'a'

In [33]:
meine_liste[1]

'b'

In [34]:
meine_liste[1:]

['b', 'c', 'd']

In [35]:
meine_liste[:1]

['a']

In [36]:
meine_liste[0] = 'NEU'

In [37]:
meine_liste

['NEU', 'b', 'c', 'd']

In [38]:
# geschachtelte Listen bzw. mehrdimensionale Listen
nest = [1,2,3,[4,5,['target']]]

In [39]:
nest[3]

[4, 5, ['target']]

In [40]:
nest[3][2]

['target']

In [41]:
nest[3][2][0]

'target'

### Dictionaries

In [42]:
# sogenannte key-value pairs und haben keine Reihenfolge (Unterschied zu Listen)
d = {'key1':'item1','key2':'item2'}

In [43]:
d

{'key1': 'item1', 'key2': 'item2'}

In [44]:
d['key1']

'item1'

In [45]:
# auch hier mehrdimensional möglich
d_nest = {'k1': {'innerkey':[1,2,3]}}

In [46]:
d_nest['k1']['innerkey'][2]

3

### Booleans

In [47]:
True

True

In [48]:
False

False

### Tuple

In [49]:
# ähnlich zu Listen aber () werden verwendet
t = (1,2,3)

In [50]:
t[0]

1

In [51]:
# führt zu einem Error, da Tuple sich nicht verändern lassen (Unterschied zu Listen)
# nützlich wenn man nicht möchte, das ein Benutzer die Werte ändern kann
t[0] = 'NEU'

TypeError: 'tuple' object does not support item assignment

### Mengen

In [ ]:
{1,2,3}

In [ ]:
# jedes Element, kann nur einmal vorkommen (Eigenschaft einer Menge)
# dadurch wwerden hier die Elemente reduziert
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

## Vergleichsoperatoren

In [ ]:
1 > 2

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [ ]:
1 == 1

In [ ]:
'hi' == 'bye'

## logische Operatoren

In [ ]:
(1 > 2) and (2 < 3)

In [ ]:
(1 > 2) or (2 < 3)

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

## if,elif, else Ausdrücke

In [ ]:
if 1 < 2:
    print('Yep!') # Abstand wichtig (Python verwendet keine {}); wird von Jupyter und den meisten IDEs automatisch eingefügt

In [ ]:
if 1 < 2:
    print('yep!')

In [ ]:
if 1 < 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 > 2:
    print('first')
else:
    print('last')

In [ ]:
# man kann soviele elif Anweisungen verwenden wie man möchte, es wird immer der Block der ersten gültigen Anweisung ausgeführt
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

## for Schleifen

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
# erlaubt einem durch eine Liste/Sequenz zu iterieren 
for item in seq:
    print(item)

In [ ]:
for item in seq:
    print('Yep')

In [ ]:
for num in seq:
    print(num+num)

## while Schleife

In [ ]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1 # diese Zeile ist sehr wichtig, da wir sonst eine Endlosschleife erzeugen

## range()

In [ ]:
range(5)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
list(range(5))

## list comprehension

In [ ]:
x = [1,2,3,4]

In [ ]:
out = []
for item in x:
    out.append(item**2)
print(out)

In [ ]:
# in Python gibt es die Möglichkeit den Code der vorangegangenen Zelle kürzer zu fassen
# sehr nützliches Konzept
[item**2 for item in x]

## Funktionen

In [ ]:
def my_func(param1='default'):  # hier wird durch die Zuweisung ='default' ein default Parameter gesetzt
    """
    Docstring hier
    mehrere Zeilen möglich
    """
    print(param1)

Docstring einer Funktion kann durch Shift+Tab abgefragt werden, wenn der Cursor an das Ende der ausgeschrieben Funktion gesetzt ist!

In [ ]:
my_func

In [ ]:
# führt die Funktion mit dem default Parameter aus. Geht nur wenn ein default Parameter gesetzt ist, oder die Funktion
# kein Parameter besitzt
my_func()

In [ ]:
my_func('new param')

In [ ]:
my_func(param1='new param')

In [ ]:
def square(x):
    return x**2

In [ ]:
out = square(2)

In [ ]:
print(out)

## lambda Ausdruck

In [2]:
def times2(var):
    return var*2

In [3]:
times2(2)

4

In [4]:
lambda var: var*2

## map und filter

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
map(times2,seq)

In [ ]:
list(map(times2,seq))

In [ ]:
list(map(lambda var: var*2,seq))

In [ ]:
filter(lambda item: item%2 == 0,seq)

In [ ]:
list(filter(lambda item: item%2 == 0,seq))

## Methoden

In [ ]:
st = 'hello my name is Sam'

In [ ]:
st.lower()

In [ ]:
st.upper()

In [ ]:
st.split()

In [ ]:
tweet = 'Go Sports! #Sports'

In [ ]:
tweet.split('#')

In [ ]:
tweet.split('#')[1]

In [ ]:
d

In [ ]:
d.keys()

In [ ]:
d.items()

In [ ]:
lst = [1,2,3]

In [ ]:
lst.pop()

In [ ]:
lst

In [ ]:
'x' in [1,2,3]

In [ ]:
'x' in ['x','y','z']

# Übungsblatt folgt!